<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kế toán</title>
    <!-- Latest compiled and minified CSS -->
    <%- include("head")%>
    <link rel="stylesheet" href="css/demobootstrap.css" type="text/css"/>
    <link rel="stylesheet" href="css/assignment3.css" type="text/css"/>
</head>
<body>

<section class="main col-md-12">
    <div class="container">
        <h1 <%= p.name %>></h1>
        <img src="<%= p.image %>"/>
    </div>
</section>

</body>
</html>