<div class="container">
    <h2>So nguoi truy cap trang</h2><%= count %>
    <div class="header">
        <h1>* FEATURED PRODUCTS</h1>
    </div>
    <div class="footer">
        <div class="product">
            <p><img src="Buoi3/img/ao.jpg"></p>
            <h3>PRODUCT NAME</h3>
            <p>Product description In Public Health, as the buyer by Fiotec.</p>
            <h3>$ PRICE</h3>
            <div class="detail"><h3>PRODUCT DETAILS</h3></div>
        </div>
        <div class="product">
            <p><img src="Buoi3/img/ao.jpg"></p>
            <h3>PRODUCT NAME</h3>
            <p>Product description In Public Health, as the buyer by Fiotec.</p>
            <h3>$ PRICE</h3>
            <div class="detail"><h3>PRODUCT DETAILS</h3></div>
        </div>
        <div class="product">
            <p><img src="Buoi3/img/ao.jpg"></p>
            <h3>PRODUCT NAME</h3>
            <p>Product description In Public Health, as the buyer by Fiotec.</p>
            <h3>$ PRICE</h3>
            <div class="detail"><h3>PRODUCT DETAILS</h3></div>
        </div>
        <div class="product">
            <p><img src="Buoi3/img/ao.jpg"></p>
            <h3>PRODUCT NAME</h3>
            <p>Product description In Public Health, as the buyer by Fiotec.</p>
            <h3>$ PRICE</h3>
            <div class="detail"><h3>PRODUCT DETAILS</h3></div>
        </div>
        <div class="product">
            <p><img src="Buoi3/img/ao.jpg"></p>
            <h3>PRODUCT NAME</h3>
            <p>Product description In Public Health, as the buyer by Fiotec.</p>
            <h3>$ PRICE</h3>
            <div class="detail"><h3>PRODUCT DETAILS</h3></div>
        </div>
        <div class="product">
            <p><img src="Buoi3/img/ao.jpg"></p>
            <h3>PRODUCT NAME</h3>
            <p>Product description In Public Health, as the buyer by Fiotec.</p>
            <h3>$ PRICE</h3>
            <div class="detail"><h3>PRODUCT DETAILS</h3></div>
        </div>
        <div class="product">
            <p><img src="Buoi3/img/ao.jpg"></p>
            <h3>PRODUCT NAME</h3>
            <p>Product description In Public Health, as the buyer by Fiotec.</p>
            <h3>$ PRICE</h3>
            <div class="detail"><h3>PRODUCT DETAILS</h3></div>
        </div>
        <div class="product">
            <p><img src="Buoi3/img/ao.jpg"></p>
            <h3>PRODUCT NAME</h3>
            <p>Product description In Public Health, as the buyer by Fiotec.</p>
            <h3>$ PRICE</h3>
            <div class="detail"><h3>PRODUCT DETAILS</h3></div>
        </div>
    </div>
</div>